
<h2 class="uk-margin-top"><i class="uk-icon-user"></i> Edit your account, <%= @user.firstname %></h2>
<hr>
<div class="uk-grid">
<div class="uk-width-medium-1-3 uk-push-1-3">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "uk-form" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="uk-form-row">
    <div class="uk-grid">
        <div class="uk-width-1-2"><%= f.text_field :firstname, placeholder: "First Name", class: "uk-width-1-1" %></div>
        <div class="uk-width-1-2"><%= f.text_field :lastname, placeholder: "Last Name", class: "uk-width-1-1" %></div>
    </div>
  </div>


    <div class="uk-form-row">
    <div class="uk-button uk-button-small uk-form-select uk-width-1-1" data-uk-form-select>
      <span></span>
      <i class="uk-icon-sort uk-margin-left"></i>
        <%= f.select(:division, options_for_select([["Communications & Marketing", "DoCM"],["Executive Office", "Executive Office"],["Finance & Administration", "Finance & Admin"],["Health Administration Press", "HAP"],["Management Information Services", "MIS"],["Member Services", "Member Services"],["Professional Development", "DoPD"],["Regional Services", "Regional Services"]], selected: f.object.division)) %>
    </div>
  </div>

  <div class="uk-form-row">
    <%= f.email_field :email, class: "uk-width-1-1" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="uk-form-row">
    <div class="uk-grid">
          <div class="uk-width-1-2"><%= f.password_field :password, autocomplete: "off", data: { uk_tooltip: "{pos:'bottom-left'}"}, title: "Leave blank unless you want to change your password.", placeholder: "New Password" %></div>
          <div class="uk-width-1-2"><%= f.password_field :password_confirmation, autocomplete: "off", data: { uk_tooltip: "{pos:'bottom-left'}"}, title: "Leave blank unless you want to change your password.", placeholder: "Confirm New Password", class: "uk-width-1-1" %></div>
    </div>
  </div>

  <div class="uk-form-row">
    <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password", data: { uk_tooltip: "{pos:'bottom-left'}"}, title: "Enter your current password to confirm your changes", class: "uk-width-1-1" %>
  </div>

  <div class="uk-form-row">
     <%= f.button "Update", class: "uk-button uk-button-success uk-width-1-1", data: {disable_with: "<i class='uk-icon-spinner uk-icon-spin'></i> Updating..."} %>
  </div>
<% end %>

<hr class="uk-margin-top">
<p>You can cancel your account by clicking the the button below. <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "uk-button uk-button-danger uk-button-mini" %></p>
</div>
<!--End 1/3 push 2/3-->
</div>
<!--End Grid-->

<%= link_to "Back", :back %>
