<%= render partial: "shared/flash" %>
<div class="uk-grid uk-margin-large-top">
<h1><i class="uk-icon-dashboard"></i> Hello, <%= @user.firstname %></h1>  
	<%= link_to new_email_path, class: "uk-button uk-button-success uk-float-right", style: "padding-left:10px;" do %>
		<i class="uk-icon-envelope"></i>  Schedule Email
	<% end %>
</div>
<hr>

<div class="uk-grild">
	<div class="uk-width-medium-2-3">
		<div class="uk-panel uk-panel-box uk-panel-box-secondary">
	<ul class="uk-tab" data-uk-tab="{connect:'#emails', animation:'fade' }">
	    <li><a href=""><i class="uk-icon-envelope uk-text-success"></i> Scheduled Emails</a></li>
	    <li><a href=""><i class="uk-icon-envelope uk-text-warning"></i> Pending Emails</a></li>
	   	<li><a href=""><i class="uk-icon-envelope uk-text-muted"></i> Archived Emails</a></li>
	</ul>

	<ul id="emails" class="uk-switcher uk-margin">
	    <li>
	    	<p class="uk-text-bold"><%= pluralize(@user.emails.approved.count, "Email") %> Scheduled:<br>
	    	<span class="uk-text-small"> These emails will go out as scheduled. If for some reason they cannot go out as scheduled, you will be notified.</span></p>
	    	<hr>
			<% if @user.emails.any? %>
				<% @user.emails.approved.each do |email| %>
					<dl class="uk-description-list-line">
					<dt><%= link_to email.name, email %></dt>
					<dd>Date: <%= email.starts_at.strftime("%x") %></dd>
					</dl>
				<% end %>
				<% else %>
					<p>You don't have any emails scheduled yet.</p>
					<%= link_to "Schedule Email", new_email_path, class: "uk-button uk-button-success uk-button-large" %>
			<% end %>
	    </li>
	    <li>
	    	<p class="uk-text-bold"><%= pluralize(@user.emails.pending.count, "Email") %> Pending:<br>
			<span class="uk-text-small"> These emails are pending review and have not been scheduled yet. You will only be notified if your emails has been declined.</span></p>
			<hr>
	    	</p>
		    <% @user.emails.pending.each do |email| %>
				<dl class="uk-description-list-line">
					<dt><%= link_to email.name, email %></dt>
					<dd>Date: <%= email.starts_at.strftime("%x") %></dd>
				</dl>
			<% end %>
	    </li>
	    <li>
	    	<p class="uk-text-bold"><%= pluralize(@user.emails.email_sent.count, "Email") %> Sent:<br>
			<span class="uk-text-small"> These emails have been successfully sent.</span></p>
			<hr>
		    <% @user.emails.email_sent.each do |email| %>
				<dl class="uk-description-list-line">
					<dt><%= link_to email.name, email %></dt>
					<dd>Date: <%= email.starts_at.strftime("%x") %></dd>
				</dl>
			<% end %>
	    </li>
	</ul>
		<div>
	</div>
</div>
	<br><br><br>


