<%= form_for(@email, html: { class: 'uk-form' }) do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2>Please correct the <%= pluralize(@email.errors.count, "error") %> below to schedule your email.</h2>

      <ul>
      <% @email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-form-row">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

 <% if current_user.admin? %>
  <div class="uk-form-row">
  <label for="email_starts_at">Date</label><br>
    <input type="text" name="email[starts_at]" id="email_starts_at" data-uk-datepicker="{weekstart:0,}" autocomplete="off" />
  </div>

  <div class="uk-form-row">
    <%= f.label :qty %><br>
    <%= f.number_field :qty %>
  </div>

      <div class="uk-form-row">
        <%= f.label :email_pending, class: "switch" do %>
          <%= f.check_box :email_pending, class: "switch-input", data: "checked" %>        
            <span class="switch-label" data-off="Scheduled" data-on="Pending" ></span>
            <span class="switch-handle"></span>
        <% end %>
      </div>
  <% end %>

  <div class="uk-form-row">
    <%= f.label :pre %><br>
    <%= f.text_field :pre %>
  </div>
  <div class="uk-form-row">
    <%= f.button class: "uk-button uk-button-primary", name: :commit, value: "Schedule Email" %>
  </div>
<% end %>
