
<%= render partial: "shared/flash" %>
<p>
	<%= @email.user.firstname %><br>
  <strong>Name:</strong>
  <%= @email.name %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @email.starts_at.strftime("%x") %>
</p>
<% if user_signed_in? && current_user || user_signed_in? && current_user.admin? %>
<p>
  <strong>Qty:</strong>
  <%= @email.qty %>
</p>
<% end %>

<p>
  <strong>Pre:</strong>
  <%= @email.pre %>
</p>

<% if user_signed_in? && current_user.admin? %>
	<%= link_to 'Edit', edit_email_path(@email) %> |
	<%= link_to 'Delete', email_path(@email), method: :delete %>
<% else %>
	<%= link_to 'Back', root_path %> 
<% end %>
<br>

<%= current_user.id if user_signed_in? %>
